In [1]:
from efficient_apriori import apriori

In [2]:
import pandas as pd

In [3]:
items = 'coke milk diaper chocolate butter bread'.split()

In [4]:
import random

In [5]:
data = [random.sample(items, random.randint(1, len(items))) for _ in range(10)]

In [6]:
data

[['chocolate', 'bread', 'milk', 'butter', 'diaper', 'coke'],
 ['chocolate', 'butter', 'coke'],
 ['bread', 'chocolate', 'butter', 'diaper', 'milk'],
 ['chocolate'],
 ['coke', 'milk'],
 ['butter'],
 ['butter', 'diaper'],
 ['coke', 'bread', 'butter', 'diaper'],
 ['diaper'],
 ['coke']]

In [7]:
itemset, rules = apriori(data, min_confidence=.75, min_support=.5)

In [8]:
itemset

{1: {('butter',): 6, ('diaper',): 5, ('coke',): 5}}

In [9]:
rules

[]

In [10]:
itemset, rules = apriori(data, min_confidence=.6, min_support=.4)

In [11]:
itemset

{1: {('chocolate',): 4, ('butter',): 6, ('diaper',): 5, ('coke',): 5},
 2: {('butter', 'diaper'): 4}}

In [12]:
rules

[{diaper} -> {butter}, {butter} -> {diaper}]

# Grocery Dataset

In [13]:
df = pd.read_csv('groceriesDataset.csv')

In [14]:
df.head()

,Item(s),Item 1,Item 2,Item 3,Item 4,Item 5,Item 6,Item 7,Item 8,Item 9,...,Item 23,Item 24,Item 25,Item 26,Item 27,Item 28,Item 29,Item 30,Item 31,Item 32
0,4,citrus fruit,semi-finished bread,margarine,ready soups,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3,tropical fruit,yogurt,coffee,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,whole milk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,pip fruit,yogurt,cream cheese,meat spreads,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,other vegetables,whole milk,condensed milk,long life bakery product,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
def retlist(entry):
    lis = []
    i=entry['Item(s)']
    for j in range(i):
        lis.append(entry['Item {}'.format(j+1)])
    return lis

In [16]:
df.apply(retlist, axis=1)

0       [citrus fruit, semi-finished bread, margarine,...
1                        [tropical fruit, yogurt, coffee]
2                                            [whole milk]
3         [pip fruit, yogurt, cream cheese, meat spreads]
4       [other vegetables, whole milk, condensed milk,...
                              ...
9830    [sausage, chicken, beef, hamburger meat, citru...
9831                                  [cooking chocolate]
9832    [chicken, citrus fruit, other vegetables, butt...
9833    [semi-finished bread, bottled water, soda, bot...
9834    [chicken, tropical fruit, other vegetables, vi...
Length: 9835, dtype: object

In [17]:
inpt = list(df.apply(retlist, axis=1))

In [19]:
itemlist, rules = apriori(inpt, min_confidence=.05, min_support=.05)

In [20]:
itemlist

{1: {('citrus fruit',): 814,
  ('margarine',): 576,
  ('tropical fruit',): 1032,
  ('yogurt',): 1372,
  ('coffee',): 571,
  ('whole milk',): 2513,
  ('pip fruit',): 744,
  ('other vegetables',): 1903,
  ('butter',): 545,
  ('rolls/buns',): 1809,
  ('bottled beer',): 792,
  ('bottled water',): 1087,
  ('curd',): 524,
  ('beef',): 516,
  ('frankfurter',): 580,
  ('soda',): 1715,
  ('fruit/vegetable juice',): 711,
  ('newspapers',): 785,
  ('pastry',): 875,
  ('root vegetables',): 1072,
  ('canned beer',): 764,
  ('sausage',): 924,
  ('brown bread',): 638,
  ('shopping bags',): 969,
  ('napkins',): 515,
  ('pork',): 567,
  ('whipped/sour cream',): 705,
  ('domestic eggs',): 624},
 2: {('other vegetables', 'whole milk'): 736,
  ('rolls/buns', 'whole milk'): 557,
  ('whole milk', 'yogurt'): 551}}

In [21]:
rules

[{whole milk} -> {other vegetables},
 {other vegetables} -> {whole milk},
 {whole milk} -> {rolls/buns},
 {rolls/buns} -> {whole milk},
 {yogurt} -> {whole milk},
 {whole milk} -> {yogurt}]

# Bakery Dataset

In [4]:
r = pd.Series(d.split('\n'))

In [5]:
r[90]

'91, 7, 16, 32, 45'

In [6]:
r[90][r[90].index(', ')+2:]

'7, 16, 32, 45'

In [7]:
r[0].index(', ')

1

In [8]:
r = r[:-1]

In [9]:
re = r.apply(lambda x: x[x.index(', ')+2:])

In [10]:
re

0                11, 21
1         7, 11, 37, 45
2             3, 33, 42
3         5, 12, 17, 47
4             6, 18, 42
              ...
74994        19, 22, 33
74995      4, 9, 13, 40
74996    12, 25, 35, 47
74997     7, 12, 15, 49
74998            33, 42
Length: 74999, dtype: object

In [11]:
fname = ["Chocolate Cake","Lemon Cake","Casino Cake","Opera Cake", "Strawberry Cake", "Truffle Cake", "Chocolate Eclair", "Coffee Eclair", "Vanilla Eclair", "Napolean Cake", "Almond Tart", "Apple Pie", "Apple Tart","Apricot Tart", "Berry Tart", "Blackberry Tart", "Blueberry Tart", "Chocolate Tart", "Cherry Tart", "Lemon Tart", "Pecan Tart", "Ganache Cookie", "Gongolais Cookie", "Raspberry Cookie", "Lemon Cookie", "Chocolate Meringue", "Vanilla Meringue", "Marzipan Cookie", "Tuile Cookie", "Walnut Cookie", "Almond Croissant", "Apple Croissant", "Apricot Croissant", "Cheese Croissant", "Chocolate Croissant", "Apricot Danish", "Apple Danish", "Almond Twist", "Almond Bear_Claw", "Blueberry Danish", "Lemon Lemonade", "Raspberry Lemonade", "Orange Juice", "Green Tea", "Bottled Water", "Hot Coffee", "Chocolate Coffee", "Vanilla Frappucino", "Cherry Soda", "Single Espresso"]

In [12]:
range(len(fname))

range(0, 50)

In [13]:
re = re.apply(lambda x: x.split(', '))

In [14]:
ree = re.apply(lambda x: list(pd.Series(x).replace(list(pd.Series(range(50)).astype(str)), fname)))

In [15]:
ree

0                              [Apple Pie, Ganache Cookie]
1        [Coffee Eclair, Apple Pie, Almond Twist, Hot C...
2             [Opera Cake, Cheese Croissant, Orange Juice]
3        [Truffle Cake, Apple Tart, Chocolate Tart, Van...
4            [Chocolate Eclair, Cherry Tart, Orange Juice]
                               ...
74994     [Lemon Tart, Gongolais Cookie, Cheese Croissant]
74995    [Strawberry Cake, Napolean Cake, Apricot Tart,...
74996    [Apple Tart, Chocolate Meringue, Apricot Danis...
74997    [Coffee Eclair, Apple Tart, Blackberry Tart, S...
74998                     [Cheese Croissant, Orange Juice]
Length: 74999, dtype: object

In [16]:
pd.Series(re[0]).replace(list(pd.Series(range(50)).astype(str)), fname)

0         Apple Pie
1    Ganache Cookie
dtype: object

In [17]:
len(ree)

74999

In [18]:
itemlist, rules = apriori(ree, min_confidence=.04, min_support=.05)

In [19]:
itemlist

{1: {('Apple Pie',): 5784,
  ('Coffee Eclair',): 8193,
  ('Almond Twist',): 5790,
  ('Hot Coffee',): 7700,
  ('Opera Cake',): 6156,
  ('Cheese Croissant',): 6166,
  ('Orange Juice',): 6871,
  ('Truffle Cake',): 6168,
  ('Apple Tart',): 5117,
  ('Chocolate Tart',): 5529,
  ('Vanilla Frappucino',): 5810,
  ('Cherry Tart',): 6986,
  ('Casino Cake',): 5626,
  ('Strawberry Cake',): 6948,
  ('Blackberry Tart',): 5690,
  ('Blueberry Tart',): 6221,
  ('Raspberry Cookie',): 5073,
  ('Lemon Lemonade',): 5118,
  ('Walnut Cookie',): 5089,
  ('Apricot Danish',): 6942,
  ('Apple Danish',): 5077,
  ('Bottled Water',): 5639,
  ('Cherry Soda',): 4649,
  ('Single Espresso',): 5098,
  ('Raspberry Lemonade',): 5081,
  ('Green Tea',): 4685,
  ('Chocolate Cake',): 6265,
  ('Chocolate Coffee',): 6236,
  ('Berry Tart',): 6362,
  ('Lemon Cookie',): 5101,
  ('Napolean Cake',): 6206,
  ('Tuile Cookie',): 7556,
  ('Apricot Croissant',): 6299,
  ('Lemon Tart',): 5685,
  ('Gongolais Cookie',): 6783,
  ('Marzipan Cookie',): 6733,
  ('Lemon Cake',): 6271,
  ('Apple Croissant',): 5047},
 2: {('Apricot Danish', 'Cherry Tart'): 3981,
  ('Marzipan Cookie', 'Tuile Cookie'): 3819}}

In [20]:
rules

[{Cherry Tart} -> {Apricot Danish},
 {Apricot Danish} -> {Cherry Tart},
 {Tuile Cookie} -> {Marzipan Cookie},
 {Marzipan Cookie} -> {Tuile Cookie}]